/* =============
    FancyCarousel
============= */



#fancycarousel{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". fc .";
    margin: 50px 0;

    @include md{
        margin: 100px 0;
    }

    @include lg{
        grid-template-columns: auto 1200px auto;
    }

    #fc-grid-item{
        grid-area: fc;

        img{
            width: 100%;
        }
       
       .side{
            height: 40vh;
    
        }
    }
}
