/* =============
    Plans
============= */
#plans{

    #plans-intro{
        text-align: center;
        margin: 108px 0 70px;
        h1{
            color: var(--black);font-size: rem-calc(59);
        }
        p{
            color: var(--white);
            font-weight: 600px;
        }
    }
    
section{
    ul{
            
        #li{ 
            display: inline-block;
            margin-top: 60px;
            border-radius: 14px;
            border: 1px solid var(--black);
            padding: 90px;
            
            img{
                margin-bottom: 50px;
            }
            h2{
                color: var(--black);
                margin-bottom: 10px;
                font-weight: 600;
            }
            
            
        }

        #selected-card{
            box-shadow: 0px 30px 50px 0px #5319A610;
            border: 1px solid var(--linear)
        }
    }
}
        
}