/* =============
    Footer
============= */
footer{
    background-color: var(--black);
    color: var(--white);
    padding: 100px 50px;
    p{
        color: var(--white);
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
    #footer-top{
        background-color: var(--black);
        padding: 80px 0;
        h1{
            margin-bottom: 30px;
            font-weight: 500;
            
        }

        #icon{
            li{
                display: inline-block;

            }
            
        }
        
        ul{
            display: inline-block; 
            
            li{
                
                color: #FFF;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; 
                list-style: none;
            }
        }

        

        #newsletter{
            
            form{
                display: inline-block;
               background-color: var(--black);
               
                input{
                    
                    border-right: none;
                    background-color: var(--black);
                    padding: 15px 30px;
                    border-radius: 1px 0px 0px 1px;
                    border-color: var(--black);
                }
                button{
                    color: var(--white);
                    background-color: var(--blue);
                    padding: 15px 30px;
                    margin-left: -3px;
                    border-radius: 0 5px 5px 0;
                }
            }
        }

        
    }

    hr{
        border: none;
        background-color: var(--white);
        height: 1px;
    }

    #footer-bottom{
        
        color: var(--white);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
}