/* =============
    Footer
============= */
footer{
    background-color: var(--black);
    color: var(--white);
    padding: 100px 50px;
    
    p{
        color: var(--gray);
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        padding-right: 100px;
        margin-top: 20px;
        
    }
    #footer-top{
        background-color: var(--black);
        padding: 80px 0;
        display: grid;
        grid-template-columns: auto 1000px auto;
        grid-template-areas: ". ftgi .";

        #footer-top-grid-item{
            grid-area: ftgi;

            display: grid;
            grid-template-columns: 40% auto 25% auto;
            h1{
                margin-bottom: 30px;
                font-weight: 400;
                
            }
    
            #icon{
                    
                display: flex;
                margin-top: 20px;
                padding-left: 1px;
   
               li{
                   margin-right: 16px;
                   color: var(--gray);

                   a:link, a:visited{
                    align-items: center;
                    transition: 0.25s;
                    height: 40px;
                    width: 40px;
                    border: 1px solid var(--black);
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    
                   }

                   a:hover, a:active{
                    background-color: var(--blue);
                    color: var(--gray);
                   }
               }
           }
            
            ul{
                display: inline-block; 
                
                
                li{
                    
                    color: #FFF;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; 
                    list-style: none;
                }
            }

            section{
                
                
                a:link, a:visited{
                    color: var(--gray);
                    transition: 0.25s;
                    margin-bottom: 12px;
                }
                a:hover, a:active{
                    color: var(--blue);
                }
            }

            #newsletter{
            
                form{
                    display: flex;
                   background-color: var(--black);
                   
                    input{
                        
                        border-right: none;
                        background-color: var(--black);
                        padding: 15px 15px;
                        border-radius: 1px 0px 0px 1px;
                        border-color: var(--black);
                    }
                    button{
                        color: var(--white);
                        background-color: var(--blue);
                        padding: 15px 15px;
                        margin-left: -3px;
                        border-radius: 0 5px 5px 0;
                    }
                }
            
            }


        }

       

        

        

        
    }

    hr{
        border: none;
        background-color: var(--white);
        height: 1px;
    }

    #footer-bottom{
        
        color: var(--white);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-top: 50px;
    }
}