/* =============
    Footer
============= */
footer{
    color: var(--white);
    p{
        color: var(--gray);
    }
    #footer-top{
        background-color: var(--black);
        padding: 80px 0;

        section{
            h2{
                margin-bottom: 10px;
                margin-top: 20px;
            }
        }

        form{
            padding: 9px;
            background-color: var(--black);
            border-color: var(--gray);
            border-style: solid;

            display: inline-block;
            border-radius: 6px;
            
            input{
                background-color: var(--black);
                color: var(--gray);
                
            }
        }
    }

    #footer-bottom{
        background-color: var(--black);
        padding: 30px 0;

    }
}