/* =============
    Header
============= */
header{
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "logo berger"
    "nav nav";
 
    #logo-container{
 
        display: flex;
        align-items: center;
        grid-area: logo;
    }
    
    #berger-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: berger;
    }
    
    nav{
        grid-area: nav;
        
    }
}

