/* =============
    Buttons
============= */
button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
    
    .sign-in{
        padding: 16px 24px;
        background-color: var(--green);
        transition: 0.25s;
        color: var(--white);
        border-radius: 8px;

    }

    .sign-in:hover{
        background-color: var(--white);
        color: var(--hex);

    }

    .sign-out{
        border: 1px solid var(--green);
        padding: 16px 24px;
        background-color: var(--white);
        transition: 0.25s;
        color: var(--green);
        border-radius: 8px;
    }

    

    .sign-out:hover{
        background-color: var(--hex);
        color: var(--hex);

    }
