/* =============
    Navigation
============= */
.showMainNav{
    display: block !important;
}
a{
    text-decoration: none;
}

#mainNav{
    display: none;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;

    @include xl{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    
    
    #sign{
        display: flex;
        justify-content: flex-end;
        padding: 16px 24px;
        gap: 10px;
        align-items: flex-end;
        
        .sign-in{
            background-color: var(--hex);
            border-radius: 8px;
            color: var(--black);
            padding: 16px;
            font-weight: 400;
            border: none;
            transition: 0.25s;
            cursor: pointer;

        }

        .sign-out{
            background-color: var(--white);
            border-radius: 8px;
            color: var(--hex);
            padding: 16px;
            border: 1px solid;
            font-weight: 400;
            border-color: var(--hex);
            transition: 0.25s;
            cursor: pointer;
        }

        .sign-in:hover{
            background-color: var(--white);
            color: var(--hex);

        }

        .sign-out:hover{
            background-color: var(--hex);
            color: var(--hex);

        }
    }
   
    ul{
        @include xl{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        
       
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        
        li{
           
            a:link, a:visited{
                padding: 15px 25px 15px 25px;
                
                display: inline-block;
                margin: 2px;
                color: black;
                transition: 0.25s;
            }

            a:hover, a:active{
                color: gray;
            }

           
            
        }
    } 
      
}