/* =============
    Typography
============= */
body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: o;
}

p{
    margin: 0;
    padding: o;
}

ul{
    margin: 0;
    padding: o;
}