/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --linear: #5319A6;
  --blue: #42B4EE;
  --light-blue: #8ED9FF;
  --gray: #696969;
  --charcoal: #051114;
  --blueLight: #42B4EE10;
}


